@model IEnumerable<VotingSystem.Models.Candidate>

@if (ViewBag.Message != null)
{
    <h2>@ViewBag.Message</h2>
}

else
{
    
        foreach (var item in Model)
        {
        <div style="border-radius: 20px; background-color:gainsboro; float:left; margin-left:10px; margin-top:10px; height: 250px; width: 170px;border: thick;padding-top:10px; padding-left:10px; padding-right:10px; padding-bottom:10px;">
            <div>
                @{
                    var photo = item.CandidatePhoto;
                    var base64 = Convert.ToBase64String(photo);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src="@imgSrc" alt="avatar" class="img-circle" height="100" width="100" />
            </div>
            <p></p>
            <div style="font-weight:bold;">
                @item.CandidateFirstName  @item.CandidateLastName 
                @item.CandidateInstitutionNo
            </div>

            <div style="word-wrap: break-word;">
                @item.CandidateManifesto
            </div>

            <div style="font-weight:bold;color:blue;;">
               @item.CandidateVoteCount Vote
            </div>
        </div>
           
            <p></p>
      }
   

 }
